{% extends "base.html" %} 
{% load static %} 
{% load bag_tools %}

{% block extra_css %}
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
  integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
  crossorigin="anonymous"
/>
{% endblock %} 

{% block page_header %}

<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>

{% endblock %} 

{% block content %}

<section class="bag-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="heading-primary font-black margin-top-big text-center">
          Shopping Bag
        </h1>
        <hr />
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% if bag_items %}

        <div class="table-responsive rounded">
          <table class="table table-sm table-borderless">
            <thead class="font-black">
              <tr class="text-center">
                <th scope="col">Product Info</th>
                <th scope="col">Name</th>
                <th scope="col text-center">Price</th>
                <th scope="col text-center">Qty</th>
                <th scope="col text-center">Subtotal</th>
              </tr>
            </thead>

            {% for item in bag_items %}
            <tr>
              <td class="py-3 w-25">
                <img
                  src="{{ item.product.image.url }}"
                  alt="{{ item.product.name }}"
                  class="img-fluid rounded"
                />
              </td>
              <td class="py-3">
                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                <p class="my-0">
                  Size: {% if item.product.has_sizes %} 
                  {{ item.size|upper }} 
                  {% elif item.product.shoe_sizes %} 
                  {{ item.size|upper }} 
                  {% else%}
                   N/A 
                  {% endif %}
                </p>
                <p class="my-0 small text-muted">
                  SKU: {{ item.product.sku|upper }}
                </p>
              </td>
              <td class="py-3">
                <p class="my-0 text-center">{{ item.product.price }}</p>
              </td>
              <td class="py-3 w-25">
                <form
                  class="form shopping-bag__update-form"
                  action="{% url 'edit_bag' item.item_id %}"
                  method="POST"
                >
                  {% csrf_token %}
                  <div class="form-group">
                    <div class="input-group shopping-bag__quantity-input">
                      <div class="input-group-prepend">
                        <button
                          class="
                            btn btn--black
                            product-detail__decrement
                            decrement-qty
                          "
                          data-item_id="{{ item.item_id }}"
                          id="decrement-qty_{{ item.item_id }}"
                        >
                          &minus;
                        </button>
                      </div>
                      <input
                        type="number"
                        name="quantity"
                        class="
                          form-control
                          from-control-sm
                          product-detail__form-control
                          qty_input
                        "
                        value="{{ item.quantity }}"
                        min="1"
                        max="99"
                        data_item_id="{{ item.item_id }}"
                        id="id_qty_{{ item.item_id }}"
                      />
                      <div class="input-group-append">
                        <button
                          class="
                            btn btn--black
                            product-detail__increment
                            increment-qty
                          "
                          data-item_id="{{ item.item_id }}"
                          id="increment-qty_{{ item.item_id }}"
                        >
                          &plus;
                        </button>
                      </div>
                      {% if item.product.has_sizes %}
                      <input
                        type="hidden"
                        name="product_size"
                        value="{{ item.size }}"
                      />
                      {% elif item.product.shoe_sizes %}
                      <input
                        type="hidden"
                        name="product_size"
                        value="{{ item.size }}"
                      />
                      {% endif %}
                    </div>
                  </div>
                </form>
                <a class="shopping-bag__update-link text-info"
                  ><small>Update</small></a
                >
                <a
                  class="shopping-bag__remove-item text-danger float-right"
                  id="remove_{{ item.item_id }}"
                  data-product_size="{{ item.size }}"
                  ><small>Remove</small></a
                >
              </td>
              <td class="py-3">
                <p class="my-0 text-center">{{ item.product.price | calc_subtotal:item.quantity }}</p>
              </td>
            </tr>
            {% endfor %}

            <tr>
              <td colspan="5" class="pt-5 text-right">
                <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                <h4 class="mt-4">
                  <strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong>
                </h4>
                {% if free_delivery_delta > 0 %}
                <p class="mb-1 text-danger">
                  Get free delivery if you spend
                  <strong>£{{ free_delivery_delta }}</strong> more!
                </p>
                {% endif %}
              </td>
            </tr>

            <tr>
              <td colspan="5" class="text-center py-5">
                <a href="{% url 'products' %}" class="btn-text">
                  <span class="text-uppercase">Keep Shopping &rarr;</span>
                </a>
                <a href="{% url 'checkout' %}" class="btn-text shopping-bag__checkout-button">
                  <span class="text-uppercase">Secure Checkout</span>
                  <span class="icon">
                    <i class="fas fa-lock"></i>
                  </span>
                </a>
              </td>
            </tr>
          </table>
        </div>
        {% else %}
        <div class="text-center margin-top-med">
          <p>Your bag is empty!</p>
          <a href="{% url 'products' %}" class="btn-text"
            >Keep Shopping &rarr;</a
          >
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block postloadjs %} 

{{ block.super }} 

{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
  // Update quantity on click
  $(".shopping-bag__update-link").click(function (e) {
    var form = $(this).prev(".shopping-bag__update-form");
    form.submit();
  });

  // Remove item and reloac on click
  $(".shopping-bag__remove-item").click(function (e) {
    var csrftoken = "{{ csrf_token }}";
    var itemId = $(this).attr("id").split("remove_")[1];
    var size = $(this).data("product_size");
    var url = `/bag/remove/${itemId}/`;
    var data = { csrfmiddlewaretoken: csrftoken, 'product_size': size };

    $.post(url, data).done(function () {
      location.reload();
    });
  });
</script>

{% endblock %}
