{% extends "base.html" %}
{% load static %}]

{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>

{% endblock %}


{% block content %}


<!-- Hero Banner -->
<section class="hero-banner hero-banner--about-us">
    <div class="row">
        <div class="hero-banner__text-box abs-center text-center">
            <h1 class="heading-primary margin-bottom-big">
                <span class="heading-primary--main">About Us!</span>
            </h1>
        </div>
    </div>
</section>

<!-- About Us -->
<section class="section-about-us-headline">
    <div class="container">
        <div class="about-us-headline">
            <div class="text-center margin-bottom-med">
                <h2 class="heading-secondary">
                    Immortal Fitness Collective
                </h2>
            </div>

            <div>
                <div class="text-center">
                    <p class="paragraph">
                    Anchored by our physical gym, located in Bristol, United Kingdom, International Fitness Collective is the international brand behind a number of top performing CrossFit athletes.
                    </p>
                    <p>
                    Our team prides itself on providing the highest quality apparel to athletes of all levels, built around our three design pillars of being comfortable, effective and durable.
                    </p>
                    <p>
                    Family, Fitness, Service is more than a motto, it is our compass and what propels us forward. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-team">
    <div class="container">
        <div class="text-center margin-top-med">
            <h2 class="heading-secondary font-white font-black">
                Meet the Team
            </h2>
        </div>
    </div>

    <div class="container">
        <div class="row margin-bottom-med">
            <div class="col-12 col-md-4 margin-bottom-sm">
                <div class="team__image-box">
                    <img src="{{ MEDIA_URL }}coach-3.jpg" class="team__image" alt="Dan Mallet">
                </div>
                <div class="team__name-title margin-top-sm">
                    <h3 class="heading-tertiary text-center">
                        <span class="heading-tertiary--main">Dan Mallet</span>
                        <span class="heading-tertiary--sub">CEO &#38; Head Coach</span>
                    </h3>
                </div>
                <div class="team__bio margin-top-sm">
                    <p>
                        Dan specializes in strength and conditioning. He is the programming expert for the community and has helped thousands of members achieve things they never though possible.
                        <br>
                        Dan's favourite movement is the clean and favourite CrossFit benchmark workout is Cindy.
                    </p>
                </div>
            </div>

            <div class="col-12 col-md-4 margin-bottom-sm">
                <div class="team__image-box">
                    <img src="{{ MEDIA_URL }}coach-1.jpg" class="team__image" alt="Noah Hammer">
                </div>
                <div class="team__name-title margin-top-sm">
                    <h3 class="heading-tertiary text-center">
                        <span class="heading-tertiary--main">Noah Hammer</span>
                        <span class="heading-tertiary--sub">Coach & Head Nutritionist</span>
                    </h3>
                </div>
                <div class="team__bio margin-top-sm">
                    <p>
                        Noah joined the IFC team in June 2020, joining with plenty of energy and years of programming experience. Noah is helping Dan with our current programming, plus working on our new nutrition programme coming soon!
                        <br>
                        Noah's favourite movement is the snatch and favourite CrossFit benchmark is Murph.
                    </p>
                </div>
            </div>

            <div class="col-12 col-md-4 margin-bottom-sm">
                <div class="team__image-box">
                    <img src="{{ MEDIA_URL }}coach-2.jpg" class="team__image" alt="Charlotte Tong">
                </div>
                <div class="team__name-title margin-top-sm">
                    <h3 class="heading-tertiary text-center">
                        <span class="heading-tertiary--main">Charlotte Tong</span>
                        <span class="heading-tertiary--sub">Head of Apparel</span>
                    </h3>
                </div>
                <div class="team__bio margin-top-sm">
                    <p>
                        Charlotte is a long time member of the IFC team. As Head of Apparel, she is responsible for managing the design and delivery of all our merchandise.
                        Outside of her merch responsibilities, Charlotte is also a keen endurance athlete and is currently training for a half Ironman. 
                        <br>
                        Charlotte's favourite movement is the muscle up and favourite CrossFit benchmark workout is Kelly.
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}