{% extends "base.html" %}
{% load static %}]

{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>

{% endblock %}


{% block content %}


<!-- Hero Banner -->
<section class="hero-banner hero-banner--home">
    <div class="row">
        <div class="hero-banner__text-box abs-center text-center">
            <h1 class="heading-primary margin-bottom-big">
                <span class="heading-primary--main">Immortal</span>
                <span class="heading-primary--sub">Fitness Collective</span>
            </h1>
            <a href="#" class="btn btn--white">
                Join Now!
            </a>
        </div>
    </div>
</section>

<!-- About Us -->
<section class="section-about-us container">
    <div class="text-center margin-bottom-med">
        <h2 class="heading-secondary">
            Join our community and improve your fitness
        </h2>
    </div>

    <div class="row">
        <div class="text-center">
            <p class="paragraph">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis aliquam consequuntur inventore ipsum.
                Sit, nihil accusamus. Molestias sequi labore numquam aspernatur quaerat itaque quasi, pariatur, nisi
                alias veniam, minima repellat?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, quae veritatis culpa tempora in id quo.
            </p>

            <a href="#" class="btn-text">Learn More &rarr;</a>
        </div>
    </div>
</section>

<section class="section-programmes">
    <div class="container">
        <div class="text-center margin-bottom-med">
            <h2 class="heading-secondary font-white">
                Explore our programs:
            </h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-1-of-2">
                <div class="programme-card">
                    <div class="programme-card__picture programme-card__picture--1">
                        &nbsp;
                    </div>
                    <div class="programme-card__heading">
                        <span class="programme-card__heading-span programme-card__heading-span--1">
                            Everyday Athlete
                        </span>
                    </div>
                    <div class="programme-card__details">
                        <p class="paragraph text-center">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                        <ul>
                            <li>Feature 1</li>
                            <li>Feature 2</li>
                            <li>Feature 3</li>
                            <li>Feature 4</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-1-of-2">
                <div class="programme-card">
                    <div class="programme-card__picture programme-card__picture--2">
                        &nbsp;
                    </div>
                    <div class="programme-card__heading">
                        <span class="programme-card__heading-span programme-card__heading-span--2">
                            Competitors Elite Fitness
                        </span>
                    </div>
                    <div class="programme-card__details">
                        <p class="paragraph text-center mb-1">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                        <ul>
                            <li>Feature 1</li>
                            <li>Feature 2</li>
                            <li>Feature 3</li>
                            <li>Feature 4</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}