{% extends "base.html" %}
{% load static %}]

{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>

{% endblock %}


{% block content %}


<!-- Hero Banner -->
<section class="hero-banner hero-banner--home">
    <div class="row">
        <div class="hero-banner__text-box abs-center text-center">
            <h1 class="heading-primary margin-bottom-big">
                <span class="heading-primary--main">Immortal</span>
                <span class="heading-primary--sub">Fitness Collective</span>
            </h1>
            <a href="{% url 'products' %}" class="cta-btn btn--white">
                Shop Now!
            </a>
        </div>
    </div>
</section>

<!-- About Us -->
<section class="section-about-us container">
    <div class="text-center margin-bottom-med">
        <h2 class="heading-secondary">
            Join our community and improve your fitness
        </h2>
    </div>

    <div>
        <div class="text-center">
            <p class="paragraph">
                The Immortal Fitness Collective is a fitness and training brand for people who are chasing improvement and make training a big part of their daily life. Our clothing is here to support your athletic lifestyle and let you train in comfort and freedom whilst always looking and lifting your very best.
            </p>

            <a href="{% url 'about_us' %}" class="btn-text">Learn More &rarr;</a>
        </div>
    </div>
</section>

<section class="section-programmes">
    <div class="container">
        <div class="text-center margin-bottom-med">
            <h2 class="heading-secondary font-white">
                Explore our programs:
            </h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 margin-bottom-med">
                <div class="programme-card">
                    <div class="programme-card__picture programme-card__picture--1">
                        &nbsp;
                    </div>
                    <div class="programme-card__heading">
                        <span class="programme-card__heading-span programme-card__heading-span--1">
                            Everyday Athlete
                        </span>
                    </div>
                    <div class="programme-card__details">
                        <p class="paragraph text-center">
                            Cardio and Core intensive workouts that don't require prior weightlifting or gymnastic experience. Designed for those who just want to feel fit and healthy.
                        </p>
                        <ul>
                            <li>
                                <i class="programme-card__icon icon-basic-calendar"></i>
                                <span class="programme-card__inline-block">5 Days/Week</span> 
                            </li>
                            <li>
                                <i class="programme-card__icon icon-basic-chronometer"></i>
                                40-60min training session
                            </li>
                            <li>
                                <i class="programme-card__icon icon-basic-info"></i>
                                Full Gym Equipment Required
                                </li>
                            <li>
                                <i class="programme-card__icon icon-basic-heart"></i>
                                Cardio and Conditioning
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 margin-bottom-med">
                <div class="programme-card">
                    <div class="programme-card__picture programme-card__picture--2">
                        &nbsp;
                    </div>
                    <div class="programme-card__heading">
                        <span class="programme-card__heading-span programme-card__heading-span--2">
                            Competitors Elite Fitness
                        </span>
                    </div>
                    <div class="programme-card__details">
                        <p class="paragraph text-center mb-1">
                            All inclusive programming for those beginning to take competition seriously or that want to take their strength and conditioning to the next level.
                        </p>
                        <ul>
                            <li>
                                <i class="programme-card__icon programme-card__icon--competitor icon-basic-calendar"></i>
                                <span class="programme-card__inline-block">5 Days/Week</span>
                            </li>
                            <li>
                                <i class="programme-card__icon programme-card__icon--competitor  icon-basic-chronometer"></i>
                                60-90min training session
                            </li>
                            <li>
                                <i class="programme-card__icon programme-card__icon--competitor icon-basic-info"></i>
                                Full Gym Equipment Required
                                </li>
                            </li>
                            <li>
                                <i class="programme-card__icon programme-card__icon--competitor icon-basic-heart"></i>
                                Strength and Conditioning
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="section-programme-desc container">
    <div class="text-center margin-bottom-med">
        <h2 class="heading-secondary">
            Our Fitness Programmes
        </h2>
    </div>

    <div>
        <div class="text-center">
            <p class="paragraph">
                At Immortal Fitness Collective, we believe education should be free. We want you to learn how to train everyday in a way that will support your health, wellness and fitness goals. 
                <br>
                Therefore all our programming is free for use by our community
            </p>
            
            <div class="row">
                <div class="col-12 col-md-6">
                    <a href="{% url 'all_workouts' %}?category=everyday_athlete_programme" class="btn-text">Everyday Athlete &rarr;</a>
                </div>
            
                <div class="col-12 col-md-6">
                    <a href="{% url 'all_workouts' %}?category=competitor_programme" class="btn-text">Competitors Elite Fitness &rarr;</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}