{% extends "base.html" %}
{% load static %}]

{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>

{% endblock %}


{% block content %}

<div class="hero-banner hero-banner--home">
    <div class="row">
        <div class="hero-banner__text-box abs-center">
            <h1 class="heading-primary text-center">
                <span class="heading-primary--main">Immortal</span>
                <span class="heading-primary--sub">Fitness Collective</span>
            </h1>
            <div class="hero-banner__button">
                <a href="#" class="btn btn-lg text-uppercase">
                    Join Now!
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}