{% extends "base.html" %}

{% load static %} 

{% block page_header %}

<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>

{% endblock %} 

{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col">
              <div class="col text-center margin-bottom-med margin-top-med">
                  <h1 class="heading-secondary">
                      Edit Workout
                  </h1>
              </div>
            </div>
        </div>
    </div>
</section>

<section class="workout-section">
  <div class="container">
    <div class="row justify-center">
        <div class="col-12 col-md-6">
            <form 
                action="{% url 'edit_workout' workout.slug %}"
                method="POST"
                class="form mb-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {{ field | as_crispy_field }}
                    {{ form.media }}
                {% endfor %}

                <div class="text-right">
                    <a href="{% url 'workout_detail' workout.slug %}" class="btn btn-text">Cancel</a>
                    <button class="btn btn-text" type="submit">Update Workout</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</section>

{% endblock %}

