{% extends "base.html" %}

{% load static %} 

{% block page_header %}

<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>

{% endblock %} 

{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col">
              <div class="col text-center margin-bottom-med margin-top-med">
                  <h1 class="heading-secondary">
                      {{ workout.category.friendly_name }}
                  </h1>
              </div>
            </div>
        </div>
    </div>
</section>

<section class="workout-section">
  <div class="container">
    <div class="row justify-center">
        <div class="card w-100">
          <div class="card-header">
            <div class="heading-tertiary font-small text-muted float-left">{{ workout.category.friendly_name }}</div>
            <div class="heading-tertiary font-small text-muted float-right">Date: {{ workout.workout_date }}</div>
          </div>
          <div class="card-body workout-card__main">
            <div class="text-center margin-bottom-sm">
              <h2 class="heading-secondary card-title">
                {{ workout.title }}
              </h2>
            </div>

            {% if workout.weightlifting_title %}
              <h5 class="heading-tertiary">{{ workout.weightlifting_title }}</h5>
              <p class="card-text">
                {{ workout.weightlifting_workout | linebreaks }}
              </p>
            <hr class="w-50 center-self">
            {% endif %}            

            {% if workout.metcon_title %}
              <h5 class="heading-tertiary">{{ workout.metcon_title }}</h5>
              <p class="card-text">
                {{ workout.metcon_workout | linebreaks }}
              </p>
            <hr class="w-50 center-self">
            {% endif %}

            {% if workout.skills_title %}
              <h5 class="heading-tertiary">{{ workout.skills_title }}</h5>
              <p class="card-text">
                {{ workout.skills_workout | linebreaks }}
              </p>
            {% endif %}
            
          </div>
          <div class="card-footer text-muted">
            {% if request.user.is_superuser %}
              <div class="ml-3 float-left">
                <a href="{% url 'edit_workout' workout.slug %}" class="btn-text font-small" aria-label="Edit Workout">Edit</a>
                <a href="{% url 'delete_workout' workout.slug %}" 
                  class="btn-text btn-danger font-small confirm-delete-workout" 
                  title="Delete" 
                  data-toggle="modal" 
                  data-target="#confirmDeleteModalWorkout" 
                  id="{{workout.slug}}">
                    Delete
                </a>
              </div>
            {% endif %}
            <div class="font-small float-right text-muted">
              Posted By: {{ workout.author }} - {{ workout.upload_date | date:"d/m/Y" }}
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

<section class="delete-modal">

{% include "workout_blog/delete_workout_modal.html" %}
  
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script 
  type="text/javascript"
  src="{% static 'workout_blog\js\delete_workout.js' %}">
</script>

{% endblock %}

