{% extends "base.html" %} 

{% load static %} 

{% block extra_css %}
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
  integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}" />
{% endblock %} 

{% block page_header %}

<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>

{% endblock %} 

{% block content %}

<section class="checkout-success-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7">
      </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-7 text-right">
            
        </div>
    </div>
  </div>
</section>

{% endblock %}

