/* ----------------  Variables   ------------ */
:root {
  --colour-primary: #53565a; /* Gunmetal-grey */
  --colour-primary-light: #6b6f75; /* Gunmetal-grey light */
  --colour-primary-dark: #3b3d3f; /* Gunmetal-grey dark */
  --colour-secondary: #ffdd88; /* trophy yellow */
  --colour-grey-light-1: #f7f7f7; /* light grey / off white */
  --colour-grey-light-2: #e6e6e6; /* light grey / off white */
  --colour-green-light: #7ed56f; /* light green */
  --colour-green-dark: #28b485; /* dark green */
  --colour-black: #000; /* black */
  --colour-white: #fff; /* white */
  --colour-red: #dc3545; /* Red */
  --colour-text-body: #1c1d1d; /* off black */
  --colour-gold: #ffd700; /* Gold */
  --colour-purple: #8300e9;
  --gutter-horizontal: 6rem;
  --gutter-vertical: 8rem;
  --gutter-vertical-small: 6rem;
  --text-shadow: 0 1rem 3rem rgb(0 0 0 / 70%);
  --box-shadow: 0 1rem 1rem rgb(0 0 0 / 30%);
  --default-font-size: 1.5rem;
  --small-font-size: 1rem;
}

/* This is a branch test note */

/* ----------------  General Styles   ------------ */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?&family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  height: 100%;
  font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */
  font-smooth: auto;
}

body {
  box-sizing: border-box;
  background-color: var(--colour-grey-light-1);
}

/* ----------------  Typography   ------------ */

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: var(--colour-grey-light-1);
  color: var(--colour-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", monospace;
}

p {
  font-size: var(--default-font-size);
}

.logo-font,
.logo-font:hover {
  text-transform: uppercase;
  color: var(--colour-white);
}

.logo-font:hover {
  transform: translateY(-0.3rem);
  transition: all 0.2s;
}

.heading-primary {
  color: var(--colour-white);
  text-transform: uppercase;
  backface-visibility: hidden;
}

.heading-primary a {
  color: var(--colour-white);
  text-decoration: none;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 1rem;
  text-shadow: var(--text-shadow);
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  color: var(--colour-secondary);
  text-shadow: var(--text-shadow);
}

.heading-primary--sub a {
  color: var(--colour-secondary);
  text-decoration: none;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}

.heading-secondary:hover {
  text-shadow: var(--text-shadow);
}

.heading-tertiary {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.heading-tertiary--main {
  display: block;
  text-shadow: var(--text-shadow);
}

.heading-tertiary--sub {
  color: var(--colour-purple);
  text-decoration: none;
  line-height: 1.6;
}

.heading-secondary a,
.heading-tertiary a {
  color: var(--colour-black);
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.paragraph {
  font-size: var(--default-font-size);
}

.paragraph:not(:last-child) {
  margin-bottom: 1rem;
}

.font-white {
  color: var(--colour-white);
}

.font-black {
  color: var(--colour-black);
}

.font-small {
  font-size: var(--small-font-size) !important;
}

/* ----------------  Helpers   ------------ */

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vert-center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.justify-center {
  justify-content: center;
}

.center-self {
  margin-left: auto;
  margin-right: auto;
}

.border-none {
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.w-10 {
  width: 10% !important;
}

.margin-bottom-sm {
  margin-bottom: 1.5rem;
}

.margin-bottom-med {
  margin-bottom: 2rem;
}

.margin-bottom-big {
  margin-bottom: 4rem;
}

.margin-top-sm {
  margin-top: 1.5rem;
}

.margin-top-med {
  margin-top: 2rem;
}

.margin-top-big {
  margin-top: 4rem;
}

.hr-center {
  margin-left: auto;
  margin-right: auto;
}

/* ----------------  Buttons  ------------ */

.btn-search {
  background-color: #fff;
  border: 1px solid #ced4da;
  transition: all 0.2s;
}

.btn-search:hover {
  background-color: var(--colour-gold);
}

.cta-btn,
.cta-btn:link,
.cta-btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-weight: 700;

  border: none;
  cursor: pointer;
}

.cta-btn:hover {
  color: var(--colour-black);
  transform: translateY(-0.3rem);
  box-shadow: var(--box-shadow);
  background-color: var(--colour-gold);
}

.cta-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.cta-btn:active,
.cta-btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: var(--box-shadow);
}

.cta-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--animated {
  animation: moveInButton 0.5s ease-out 0.5s;
  animation-fill-mode: backwards;
}

.btn--white {
  background-color: var(--colour-white);
  color: var(--colour-primary-dark);
}

.btn--white::after {
  background-color: var(--colour-white);
}

.btn--black {
  background-color: var(--colour-black);
  color: var(--colour-white);
}

.btn--black::after {
  background-color: var(--colour-black);
}

.btn--green {
  background-color: var(--colour-white);
  color: var(--colour-black);
}

.btn--green::after {
  background-color: var(--colour-green);
}

.btn-text,
.btn-text:link,
.btn-text:visited {
  font-size: var(--default-font-size);
  display: inline-block;
  text-decoration: none;
  color: var(--colour-text-body);
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid var(--colour-gold);
  padding: 3px 6px;
  transition: all 0.2s;
  font-weight: 600;
}

.btn-danger {
  border-bottom: 1px solid var(--colour-red) !important;
}

.btn-danger:hover {
  background-color: var(--colour-red) !important;
}

.btn-text:hover {
  background-color: var(--colour-gold);
  border-bottom: 1px solid var(--colour-gold);
  box-shadow: var(--box-shadow);
  transform: translateY(-2px);
  border-radius: 0.5rem;
}

.btn-text:active {
  box-shadow: var(--box-shadow);
  transform: translateY(0);
  border: none;
}

.btn-cart,
.btn-cart:link,
.btn-cart:visited {
  background-color: var(--colour-primary-light);
  transition: all 0.2s;
}

.btn-cart:hover {
  transform: translateY(-2px);
}

.btn-black {
  background: var(--colour-black);
  color: var(--colour-white);
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  background: var(--colour-primary-dark);
  color: var(--colour-white);
}

.product-detail__increment:hover,
.product-detail__decrement:hover {
  color: var(--colour-gold);
}

.product-detail__increment:active,
.product-detail__decrement:active {
  transform: scale(0.95);
  border: none;
  color: var(--colour-gold);
}

/* ----------------  Customer Reviews   ------------ */

.customer-review-form,
.customer-review-summary {
  padding: 2rem 0;
}

.review-card {
  transform: scale(1);
  transition: all 0.2s;
}

.review-card:hover {
  transform: scale(1.02);
  transition: all 0.2s;
}

.review-card__header {
  background-color: rgba(0, 0, 0, 0.1);
}

.review-card__header h6,
.review-card__header p {
  margin-bottom: 0;
}

.review-card__heading {
  font-size: var(--default-font-size);
  line-height: 1.7;
}

.review-card__title-stars {
  color: var(--colour-gold);
  font-size: var(--default-font-size);
  text-shadow: 0 0.1rem 0 var(--colour-primary-light);
}

.verified-purchase {
  color: var(--colour-green-light);
}

/* ----------------  Navigation   ------------ */
.navigation {
  background-color: var(--colour-primary);
  min-height: 5rem;
  font-size: 1.3rem;
  box-shadow: var(--box-shadow);
}

.top-nav-link {
  font-size: 1.3rem;
}

.dropdown-item {
  font-weight: 500;
}

.main-logo-link {
  width: fit-content;
}

.main-logo-link__img {
  height: 5rem;
}

.navbar__responsive .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* ----------------  Footer   ------------ */

.footer {
  background-color: var(--colour-primary);
  padding: 2rem 0;
  font-size: 1.4rem;
}

.footer__logo-box {
  text-align: center;
}

.footer__logo {
  width: 20rem;
  height: auto;
}

.footer__navigation,
.footer__contact {
  border-top: 1px solid var(--colour-white);
  padding-top: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.footer__contact {
  text-align: center;
}

.footer__list {
  list-style: none;
}

.footer__item {
  display: inline-block;
}

.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}

.footer__link,
.footer__link:link,
.footer__link:visited {
  color: var(--colour-white);
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}

.footer__link:hover,
.footer__link:link:hover,
.footer__link:visited:hover,
.footer__link:active,
.footer__link:link:active,
.footer__link:visited:active {
  color: var(--colour-gold);
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: translateY(-2px) scale(1.1);
}

/* ----------------  AllAuth Template formatting   ------------ */

.allauth.form-inner-content p {
  margin-top: 1.5rem;
  color: #6c757d;
}

.allauth-form-inner-content input {
  border-color: #000;
  border-radius: 0;
}

.allauth-form-inner-content label:not([for="id_remember"]) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type="submit"] {
  display: inline-block;
  font-weight: 400;
  color: var(--colour-white);
  text-align: center;
  vertical-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--colour-black);
  border: 1px solid var(--colour-black);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type="submit"]:hover {
  color: var(--colour-white);
  background-color: #222;
  border-color: #222;
}

.allauth-form-inner-content a {
  color: #17a2b8;
}

#div_id_remember label {
  margin-left: 0.5rem;
}

.allauth-form-inner-content input[type="checkbox"] {
  top: -0.1rem;
}

/* ----------------  Toasts   ------------ */

.message-container {
  position: fixed;
  top: 72px;
  right: calc((100vw - 15px) / 2);
  z-index: 9999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 4px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
  max-height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* ----------------  Home Page - Hero Banner   ------------ */
.header-container {
  padding-top: 7rem;
}

.hero-banner {
  background-size: cover;
  background-position: center center;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
}

.hero-banner--home {
  height: 65vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(107, 111, 117, 0.5),
      rgba(59, 61, 63, 0.5)
    ),
    url("../../media/crossfit-banner-large-compressed.jpg");
}

/* ----------------  Home Page - About Us   ------------ */
.section-about-us {
  padding: 5rem 2rem;
}

/* ----------------  Home Page - Programmes   ------------ */
.section-programmes {
  padding: 7rem 2rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(107, 111, 117, 0.5),
      rgba(59, 61, 63, 0.5)
    ),
    url("../../media/gym-weights-landscape-min-compressed.jpg");
  background-size: cover;
  background-position: center bottom;
  -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
}

.programme-card {
  height: 59rem;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  background-color: var(--colour-white);
  position: relative;
}

.programme-card__picture {
  background-size: cover;
  height: 20rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.programme-card__picture--1 {
  background-image: linear-gradient(
      to right bottom,
      rgb(91, 154, 80),
      rgb(32, 119, 90)
    ),
    url("../../media/everyday-fitness-min-compress.jpg");
}

.programme-card__picture--2 {
  background-image: linear-gradient(
      to right bottom,
      rgb(158, 121, 43),
      rgb(255, 0, 0)
    ),
    url("../../media/competitor-programme-min-compress.jpg");
}

.programme-card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  color: var(--colour-white);
  position: absolute;
  top: 12rem;
  right: 2rem;
  text-align: right;
  width: 75%;
  text-transform: uppercase;
}

.programme-card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.programme-card__heading-span--1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(91, 154, 80, 0.85),
    rgba(32, 119, 90, 0.85)
  );
}

.programme-card__heading-span--2 {
  background-image: linear-gradient(
    to right bottom,
    rgba(158, 121, 43, 0.85),
    rgba(255, 0, 0, 0.85)
  );
}

.programme-card__details {
  padding: 3rem;
}

.programme-card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.programme-card__details li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.programme-card__details li:not(:last-child) {
  border-bottom: 1px solid var(--colour-grey-light-2);
}

.programme-card__icon {
  font-size: 2rem;
  margin-right: .5rem;
  display: inline-block;
  background-image: linear-gradient(
    to right bottom,
    rgba(91, 154, 80, 0.85),
    rgba(32, 119, 90, 0.85)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
  top: 0.4rem;
}

.programme-card__icon--competitor {
  background-image: linear-gradient(
    to right bottom,
    rgba(158, 121, 43, 0.85),
    rgba(255, 0, 0, 0.85)
  );
}

.section-programme-desc {
  padding: 5rem 2rem;
}

/* ----------------  About Us ------------ */

.hero-banner {
  background-size: cover;
  background-position: center center;
  position: relative;
}

.hero-banner--about-us {
  height: 25vh;
  background-image: url("../../media/kettlebells-small.jpg");
}

.about-us-headline {
  background-color: var(--colour-black);
  color: var(--colour-white);
  border-radius: 5px;
  margin: 2rem 0;
  padding: 7rem 4rem;
}

.team__image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* ----------------  Product Catalogue Pages   ------------ */
.product-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  margin: 0 1rem;
  word-wrap: break-word;
  background-color: var(--colour-white);
  background-clip: border-box;
  height: 100%;
  border: 2px solid rgba(128, 128, 128, 0.16);
  border-radius: 1rem;
  box-shadow: 0 1px 4px rgb(128 128 128 / 11%);
}

.product-catalogue__home-link,
.category-badge {
  color: var(--colour-black);
}

.product-card__image {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
}

.product-card__image::after {
  content: "";
  clear: both;
  display: table;
}

.product-card-content {
  padding: 1rem;
  flex: 1 1 auto;
  min-height: 0.1rem;
}

.product-card-content__name {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.2rem;
}

.product-card-footer {
  padding: 0.75rem 1.25rem;
}

.product-card-footer__price {
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}

.product-card-footer__rating {
  font-size: 1.5rem;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1rem;
  width: 1rem;
}

.product-card-footer__icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, yellow, gold);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.btt-button {
  height: 4.2rem;
  width: 4.2rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--colour-white);
}

.btt-link {
  cursor: pointer;
  color: var(--colour-black);
}

/* ----------------  Product Detail Page   ------------ */
.product-detail_image-container {
  border-radius: 0.5rem;
  overflow: hidden;
}

.product-detail__image {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.product-detail__image::after {
  content: "";
  clear: both;
  display: table;
}

.product-detail__content {
  padding: 0 2rem;
}

.product-detail__name {
  text-align: center;
  width: 100%;
}

.product-detail__price {
  font-size: 1.5rem;
  font-weight: 700;
}

.product-detail__rating {
  font-size: 1.25rem;
}

.product-detail__form-submit {
  margin-left: 1rem;
}

/* ----------------  Image upload widget  ------------ */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: var(--colour-red);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--colour-red);
  border-color: var(--colour-red);
  border-radius: 0;
}

/* ----------------  Shopping Bag Page   ------------ */

.shopping-bag__checkout-button {
  margin-left: 1rem;
}

.shopping-bag__quantity-input {
  flex-wrap: nowrap;
}

.shopping-bag__update-link,
.shopping-bag__remove-item {
  cursor: pointer;
}

/* ----------------  Workout Blog   ------------ */

.workout-card__main {
  padding: 1.25rem 2.5rem;
}

/* ----------------  MEDIA QUERIES   ------------ */

/* Responsive Font Sizes */
@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
}
/* 1 rem = 8px */

@media (min-width: 577px) {
  html {
    font-size: 56.25%;
  }
}
/* 1 rem = 9px */

@media (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

@media (min-width: 1700px) {
  html {
    font-size: 75%;
  }
}
/* 1 rem = 12px */

/* Fixed topnav only on medium and up */
@media (min-width: 576px) {
  .message-container {
    right: calc((100vw - 540px) / 2);
  }

  .btt-button {
    right: calc((100vw - 610px) / 2);
  }
  
  .programme-card {
    height: 55rem;
  }

  .product-detail__image {
    padding: 0;
  }

  .product-detail__content {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .margin-bottom-sm {
    margin-bottom: 2rem;
  }

  .margin-bottom-med {
    margin-bottom: 4rem;
  }

  .margin-bottom-big {
    margin-bottom: 6rem;
  }

  .margin-top-sm {
    margin-top: 2rem;
  }

  .margin-top-med {
    margin-top: 4rem;
  }

  .margin-top-big {
    margin-top: 6rem;
  }

  .message-container {
    right: calc((100vw - 720px) / 2);
  }

  .btt-button {
    right: calc((100vw - 800px) / 2);
  }

  .section-programmes {
    padding: 18rem 2rem;
    -webkit-clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
    clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
  }

  .section-programme-desc {
    padding-top: 1rem;
  }

  .programme-card {
    height: 63rem;
  }

  .product-detail__image {
    margin-bottom: 0;
  }

  .product-detail__name {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1050;
  }

  .footer {
    padding: 5rem 0;
  }

  .footer__logo-box {
    margin-bottom: 4rem;
  }

  .footer__navigation,
  .footer__contact {
    width: auto;
  }

  .footer__navigation {
    text-align: left;
  }

  .footer__contact {
    float: right;
    text-align: right;
  }
  .message-container {
    right: calc((100vw - 960px) / 2);
  }

  .btt-button {
    right: calc((100vw - 1040px) / 2);
  }

  .header-container {
    padding-top: 9.5rem;
  }

  .nav-link {
    padding: 0.15rem;
  }

  .nav-link i.fa-lg {
    font-size: 1rem;
  }

  .navbar-toggler {
    padding: 0.6rem 0.6rem;
    font-size: 1rem;
  }

  .programme-card {
    height: 55rem;
  }

  .about-us-headline {
    padding-left: 15rem;
    padding-right: 15rem;
  }

  #delivery-banner h4 {
    font-size: 0.9rem;
  }
}

@media (min-width: 1200px) {
  .message-container {
    right: calc((100vw - 1140px) / 2);
  }

  .btt-button {
    right: calc((100vw - 1230px) / 2);
  }
}
