@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */
}

body {
  box-sizing: border-box;
  /* background: url("/media/crossfit-banner-large-compressed.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; */
  height: calc(100vh - 16.4rem); /* 164px = nav height */
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans", sans-serif;
}

/* ---- Navigation Styling ----- */
.navigation {
  background-color: #53565a;
}

.logo-font,
.logo-font:hover {
  text-transform: uppercase;
  color: #fff;
}

.logo-font:hover {
  transform: translateY(-3px);
  transition: all 0.2s;
}

.main-logo-link {
  width: fit-content;
}

.main-logo-link__img {
  height: 5rem;
}

.navbar__responsive .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* ----------------  MEDIA QUERIES------------ */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Fixed topnav only on medium and up */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1050;
  }

  .header-container {
    padding-top: 16.4rem;
  }
}
