<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-us-link">About Us</a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="programming-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Programming
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="programming-link">
                <a href="" class="dropdown-item">Everday Athlete</a>
                <a href="" class="dropdown-item">Competitor</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=tees_tanks" class="dropdown-item">Tee's &amp; Tanks</a>
                <a href="{% url 'products' %}?category=footwear" class="dropdown-item">Footwear</a>
                <a href="{% url 'products' %}?category=hoodies_longsleeves" class="dropdown-item">Hoodies &amp; Longsleeves</a>
                <a href="{% url 'products' %}?category=tees_tanks,footwear,hoodies_longsleeves" class="dropdown-item">All Clothing &amp; Footwear</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=drinkware" class="dropdown-item">Drinkware</a>
                <a href="{% url 'products' %}?category=patches" class="dropdown-item">Patches</a>
                <a href="{% url 'products' %}?category=caps_beanies" class="dropdown-item">Caps &amp; Beanies</a>
                <a href="{% url 'products' %}?category=other" class="dropdown-item">Other</a>
                <a href="{% url 'products' %}?category=drinkware,patches,caps_beanies,other" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="equipment-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=skipping_ropes" class="dropdown-item">Skipping Ropes</a>
                <a href="{% url 'products' %}?category=bells" class="dropdown-item">Bells</a>
                <a href="{% url 'products' %}?category=skipping_ropes,bells,straps" class="dropdown-item">All Equipment</a>
            </div>
        </li>
    </ul>
</div>