{% extends "base.html" %}
{% load static %}]

{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>

{% endblock %}


{% block content %}

<section class="404-section">
    <div class="row">
        <div class="col-12 text-center justify-center">
            <h1>404!</h1>
            <h3 class="heading-primary margin-bottom-big">
                <span>It seems you've taken a wrong turn!</span>
                <span>Would you like us to take you home?</span>
            </h3>
            <a href="{% url 'home' %}" class="btn-text btn--green">
                Home &#8962;
            </a>
        </div>
    </div>
</section>




{% endblock %}