@import '../../../../static/css/base.css';

.checkout__fieldset-label {
    position: relative;
    right: .5rem;
}

#checkout__payment-form .form-control,
#card-element {
    color: var(--colour-black);
    border: 1px solid var(--colour-black);
}

.StripeElement,
.stripe-style-input {
    height: 4rem;
    padding: 1rem 1.2rem;
    border: 1px solid transparent;
    border-radius: 0;
    background-color: var(--colour-white);
    box-shadow: 0 1px 3px 0 var(--colour-grey-light-2);
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 var(--colour-primary-light);
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

#checkout__loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(249, 249, 249, 0.411);
    z-index: 9999;
}

.checkout__loading-overlay-spinner {
    color: var(--colour-green-dark);
    margin: 0;
}