.checkout__fieldset-label {
    position: relative;
    right: .5rem;
}

#checkout__payment-form .form-control,
#card-element {
    color: var(--colour-black);
    border: 1px solid var(--colour-black);
}

.StripeElement,
.stripe-style-input {
    height: 4rem;
    padding: 1rem 1.2rem;
    border: 1px solid transparent;
    border-radius: 0;
    background-color: var(--colour-white);
    box-shadow: 0 1px 3px 0 var(--colour-grey-light-2);
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 var(--colour-primary-light);
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}
