{% extends "base.html" %} 

{% load static %} 

{% block page_header %}

<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>

{% endblock %} 

{% block content %}

<section class="product-detail">
<div class="container">
  <div class="row margin-top-big">
    <div class="col-12 col-md-6">
      <div class="product-detail_image-container">
        {% if product.image %}
        <a href="{{ product.image.url }}" target="_blank">
          <img
            class="product-detail__image img-fluid"
            src="{{ product.image.url }}"
            alt="{{ product.name }}"
          />
        </a>
        {% else %}
        <a href="">
          <img
            class="product-detail__image"
            src="{{ MEDIA_URL }}no-image-available.png"
            alt="{{ product.name }}"
          />
        </a>
        {% endif %}
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="product-detail__content-container vert-center">
        <div class="product-detail__content">
          <h1 class="product-detail__name heading-secondary margin-bottom-med">
            {{ product.name }}
          </h1>
          <p class="product-detail__price">£{{ product.price }}</p>
          {% if product.category %}
          <p class="product-card-footer__rating">
            <a
              class="product-detail__category text-muted"
              href="{% url 'products' %}?category={{ product.category.name }}"
            >
              <i class="fas fa-tag"></i> {{ product.category.friendly_name }}
            </a>
          </p>
          {% endif %}
          
          {% if product.rating %}
          <p class="product-detail__rating">
            <i class="fas fa-star product-card-footer__icon"></i>
            {{ product.rating }}
          </p>
          {% else %}
          <p class="product-detail__rating">
            <i class="fas fa-star product-card-footer__icon"></i> No Rating
          </p>
          {% endif %}

          {% if request.user.is_superuser %}
            <div class="ml-3">
              <a href="{% url 'edit_product' product.id %}" class="btn-text font-small">Edit</a>
              <a href="{% url 'delete_product' product.id %}" class="btn-text btn-danger font-small">Delete</a>
            </div>
          {% endif %}

          <p class="product-detail__description">{{ product.description }}</p>

          <form
            class="form product-detail__form"
            action="{% url 'add_to_bag' product.id %}"
            method="POST"
          >
            {% csrf_token %}
            <div class="product-detail__form-selectors">
              {% if product.has_sizes %}
              <div class="product-detail__form-size margin-bottom-sm">
                <p><strong>Size</strong></p>
                <select
                  name="product_size"
                  id="id_product_size"
                  class="form-control w-50"
                >
                  <option value="xs">XS</option>
                  <option value="s">S</option>
                  <option value="m">M</option>
                  <option value="l">L</option>
                  <option value="xl">XL</option>
                </select>
              </div>
              {% endif %} {% if product.shoe_sizes %}
              <div class="product-detail__form-size margin-bottom-sm">
                <p><strong>Size</strong></p>
                <select
                  name="product_size"
                  id="id_product_size"
                  class="form-control w-50"
                >
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                </select>
              </div>
              {% endif %}
              <div class="product-detail__form-quantity">
                <p><strong>Quantity</strong></p>
                <div class="form-group w-50 margin-bottom-sm">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button
                        class="btn btn--black product-detail__decrement decrement-qty"
                        data-item_id="{{ product.id }}"
                        id="decrement-qty_{{ product.id }}"
                      >
                        &minus;
                      </button>
                    </div>
                    <input
                      type="number"
                      name="quantity"
                      class="form-control product-detail__form-control qty_input"
                      value="1"
                      min="1"
                      max="99"
                      data_item_id="{{ product.id }}"
                      id="id_qty_{{ product.id }}"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn--black product-detail__increment increment-qty"
                        data-item_id="{{ product.id }}"
                        id="increment-qty_{{ product.id }}"
                      >
                        &plus;
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="product-detail__form-buttons">
                <a
                  href="{% url 'products' %}"
                  class="btn-text text-center product-detail__form-btn"
                >
                  <span class="text-uppercase">Keep Shopping &rarr;</span>
                </a>
                <input
                  type="submit"
                  class="
                    border-none
                    btn-text
                    text-center
                    product-detail__form-submit
                  "
                  value="Add to Bag &plus;"
                />
              </div>
            </div>
            <input
              type="hidden"
              name="redirect_url"
              value="{{ request.path }}"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

{% if user.is_authenticated %}
  <section class="customer-review-form">
    <div class="container">
      <div class="row margin-top-med margin-bottom-sm justify-center">
        <div class="col-12 col-lg-8">
            <h3 class="heading-tertiary">Leave a review</h3>
            <form action="{% url 'add_review' product.id %}" class="form" method="POST">
              {% csrf_token %}
              {{ form | crispy }}
              <div class="text-center">
                <button class="btn-text" type="submit">
                  Submit Review
                </button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </section>
{% endif %}

<section class="customer-review-summary">
  <div class="container">
    <div class="row justify-center">
      <div class="col-12 text-center">
        <h2 class="heading-secondary">Reviews</h2>
      </div>

      <div class="col-12">
        {% for review in product.reviews.all %}
          <div class="card review-card margin-bottom-sm w-100">
            <div class="card-header review-card__header">
              <h6 class="heading-tertiary review-card__heading float-left">
                {{ review.title }}
              </h6>
              <p class="float-right">
                {{ review.review_date | date:"d/m/Y" }}
              </p>
            </div>

            <div class="card-body review-card__body">
              <div class="card-title review-card__title">
                <div 
                  class="review-card__title-stars" 
                  data-value="{{ review.rating }}">
                  {{ review.rating }}
                </div>
              </div>
              <p class="card-text review-card__text">
                {{ review.review }}
              </p>
              {% if request.user == review.user or is_superuser %}
                <a
                    href="{% url 'delete_review' review.id %}"
                    class="btn-text text-center btn-danger float-left"
                  >
                    <span class="text-uppercase font-small">Delete Review</span>
                </a>
              {% endif %}
              <p class="font-small float-right">
                <strong>{{ review.user }}</strong>
                {% if review.verified_purchase %}
                  <i class="fas fa-check-circle verified-purchase"
                  title="Purchase Verified"></i>
                {% endif %}
              </p>
            </div>
          </div>

        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script 
  type="text/javascript" 
  src="{% static 'products\js\rating_stars.js' %}">
</script>
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}