<div class="toast custom-toast" data-autohide="false">
    <div class="arrow-up arrow-info">
        <div class="w-100 toast-capper bg-info">
            <div class="toast-header bg-white text-dark">
                <strong>Alert!</strong>
                <button type="button" class="font-black" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="toast-body bg-white">
                {{ message }}
            </div>
        </div>
    </div>
</div>